<div class="form">
	<%= form_for @volunteer do |form| %>
		FIRST NAME:</br>
		<%= form.text_field :first_name %></br></br>
		LAST NAME:</br>
		<%= form.text_field :last_name %></br></br>
		EMAIL:</br>
		<%= form.text_field :email%></br></br>
		PHONE:</br>
		<%= form.text_field :phone %></br></br>
		PROGRAM INTERESTS:</br>
		<%= form.text_field :area_interest %></br></br>
		LANGUAGES SPOKEN:</br>
		<%= form.text_field :languages %></br></br>
		<%= form.submit "CREATE VOLUNTEER" %>
	<% end %>
</div>	