<ul class="nav">
	<li><%= link_to 'NYCARES', 'https://www.newyorkcares.org/' %></li>
	<li><%= link_to 'PROJECTS', '/projects' %></li>
	<li><%= link_to 'VOLUNTEERS', '/volunteers' %></li>
	<li><%= link_to 'BLOG', 'https://www.newyorkcares.org/blog' %></li>
	<li><%= link_to 'CONTECT', 'https://www.newyorkcares.org/contact' %></li>
</ul>