<!-- nav bar from partial -->
<%= render :partial => 'nav' %>

<h1><%= @project.name %></h1>

<div id="project_info">

	<div id="first">
		<span>LOCATION: <%= @project.location %></span></br>
		<b><%= @project.date %></b></br>
		<i><%= @project.start_time %> - <%= @project.end_time %></i>
	</div>

	<div id="second">
		<b>VOLUNTEERS BOOKED: &nbsp;&nbsp; <%= @project.volunteers.length %> / <%= @project.num_volunteers %></b>
		<ul>
			<% @project.volunteers.each do |volunteer| %>
				<li><%= link_to volunteer.first_name + ' ' + volunteer.last_name, volunteer_path(volunteer.id) %></li>
				<form action="/projects/<%= @project.id %>/remove_volunteer" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="itemId" value="<%= volunteer.id %>">
					<input type="submit" value="REMOVE" id="remove">
				</form>
			<% end %>
		</ul>	
	</div>

	<div id="description">
		<b>PROJECT DESCRIPTION</b>
		<p><%= @project.description %></p>
	</div>

	<div id="select">
		<b></b>
		<form id="select" action="/projects/<%= @project.id %>/add_volunteer" method="POST">
			<input type="hidden" name="_method" value="PUT">
			<select name="volunteer_id">
				<option selected="selected">ADD VOLUNTEER TO PROJECT</option>
				<% @volunteers.each do |volunteer| %>
					<% unless @project.volunteers.include?(volunteer) %>
					<option value="<%= volunteer.id %>"><%= volunteer.first_name %> <%= volunteer.last_name %></option>
					<% end %>
				<% end %>
			</select></br></br>
			<input type="submit" value="ADD">	
		</form>
	</div>

	
	<div class="notes">
		<b>PROJECT NOTES</b>
		<div id="notes">
			<% @notes.each do |note| %>
				<div id="individual_note">
					
						<p><%= note.note %></p>
						<i>by: <%= note.author %> on <%= note.date %></i>
				
				</div>	
			<% end %>
		</div>
	</div>


	<div class="notes">
		<b>ADD NOTE</b>
		<div id="note_form">
			<%= form_for @note, url: project_notes_path(@project) do |form| %>
				Name:</br>
				<%= form.text_field :author %></br></br>
				Note:</br>
				<%= form.text_field :note %></br>
				<%= form.hidden_field(:project_id, :value => @project.id) %></br>
				<%= form.hidden_field(:date, :value => Time.now.strftime("%m/%d/%Y")) %></br>
				<%= form.submit "ADD NOTE" %>
			<% end %>
		</div>
	</div>

</div>

<div id="button_container">
	<%= button_to "EDIT", edit_project_path(@project.id), :id => "new_project_button", :method => :get %>
	<%= button_to "DELETE", project_path(@project.id), :id => "new_project_button", :method => :delete %>
</div>

















